* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  overflow: hidden;
}
@media (max-width: 1279px) {
  .container {
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  display: none;
}

.header {
  margin-top: 60px;
  background-color: #292929;
}
@media (max-width: 1279px) {
  .header {
    margin-top: 30px;
  }
}
.header__nav .logo {
  display: none;
}
@media (max-width: 767px) {
  .header__nav .logo {
    display: block;
    max-width: 186px;
  }
}
@media (max-width: 767px) {
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background-color: #292929;
    flex-direction: column;
    padding: 30px 10px;
    transition: transform 0.5s;
    transform: translate(100%, 0);
    display: flex;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  list-style: none;
}
@media (max-width: 767px) {
  .header__nav-list {
    margin-top: 158px;
    flex-direction: column;
    gap: 40px;
  }
}
.header__nav-item.active, .header__nav-item:hover {
  padding-top: 3px;
  border-bottom: 3px solid #F1CDB3;
}
.header__nav-link {
  font-family: "Arial", "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  text-decoration: none;
}
@media (max-width: 767px) {
  .header__nav-link {
    font-size: 32px;
  }
}
.header__nav-btn {
  position: absolute;
  top: 49px;
  right: 53px;
  width: 30px;
  height: 22px;
  background: url("../../assets/images/Burger.svg") no-repeat center/contain;
  display: none;
  transform: none;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .header__nav-btn {
    display: block;
  }
}

.logo {
  text-decoration: none;
}
.logo__title {
  font-family: "Georgia", "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 10px;
}
.logo__description {
  font-family: "Arial", "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #FFFFFF;
}

.section:not(.section.not-only) {
  padding: 80px 0 90px;
}
@media (max-width: 1279px) {
  .section:not(.section.not-only) {
    padding: 65px 0 103px;
  }
}
@media (max-width: 767px) {
  .section:not(.section.not-only) {
    padding: 42px 0 45px;
  }
}
.section__title {
  font-family: "Georgia", "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 23px;
}
@media (max-width: 767px) {
  .section__title {
    font-size: 25px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.title_left {
  text-align: left;
}

.title_center {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 13px 43px;
  font-family: "Georgia", "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  text-decoration: none;
}
.btn_fill {
  background: #F1CDB3;
}
.btn_fill:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}
.btn_outline {
  background: transparent;
}
.btn_outline:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}

.pet {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 9px;
  background-color: #FAFAFA;
  min-height: 435px;
  width: 270px !important;
}
.pet__photo {
  border-radius: 9px;
}
.pet:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.pet:hover .btn {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}
.pet__name {
  font-family: "Georgia", "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 30px auto;
}

.footer {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 42px;
}
@media (max-width: 1279px) {
  .footer {
    padding-top: 14px;
  }
}
.footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .footer .container {
    flex-wrap: wrap;
    align-items: center;
    padding: 0 62px;
  }
}
@media (max-width: 767px) {
  .footer .container {
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
  }
}
.footer__title {
  font-family: "Georgia", "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 43px;
}
@media (max-width: 767px) {
  .footer__title {
    font-size: 25px;
    text-align: center;
  }
}
.footer__img {
  display: block;
}
@media (max-width: 1279px) {
  .footer__img {
    margin: 24px auto 0;
  }
}
@media (max-width: 767px) {
  .footer__img {
    margin: 11px auto 0;
    width: 260px;
    height: auto;
  }
}

.contacts {
  margin-top: 18px;
}
@media (max-width: 767px) {
  .contacts {
    text-align: center;
    margin-top: 14px;
  }
}
.contacts__item {
  display: block;
  font-family: "Georgia", "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #F1CDB3;
  margin-bottom: 46px;
  padding-left: 61px;
}

.mail {
  position: relative;
}
.mail::before {
  position: absolute;
  content: "";
  top: calc(50% - 17px);
  left: 0;
  background: url("../../assets/icons/icon-email.svg") no-repeat center/contain;
  width: 40px;
  height: 32px;
}

.phone {
  position: relative;
}
.phone::before {
  position: absolute;
  content: "";
  top: calc(50% - 15px);
  left: 0;
  background: url("../../assets/icons/icon-phone.svg") no-repeat center/contain;
  width: 40px;
  height: 32px;
}

.adresses {
  margin-top: 18px;
  margin-right: 7px;
}
@media (max-width: 1279px) {
  .adresses {
    margin-top: 9px;
  }
}
@media (max-width: 767px) {
  .adresses {
    margin-top: 0;
  }
}
.adresses .footer__title {
  margin-bottom: 33px;
}
@media (max-width: 767px) {
  .adresses .footer__title {
    margin-bottom: 40px;
  }
}
.adresses .contacts__item {
  display: block;
  font-family: "Georgia", "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #F1CDB3;
  margin-bottom: 36px;
  padding-left: 40px;
  position: relative;
}
.adresses .contacts__item::before {
  position: absolute;
  content: "";
  top: calc(50% - 19px);
  left: -2px;
  background: url("../../assets/icons/icon-marker.svg") no-repeat center/contain;
  width: 22px;
  height: 32px;
}
@media (max-width: 767px) {
  .adresses .contacts__item {
    margin-bottom: 40px;
  }
}

.overlay-modal {
  z-index: 100;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 60px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .overlay-modal {
    padding: 50px;
  }
}

.modal {
  width: 100%;
  max-width: 900px;
  min-height: 500px;
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}
@media (max-width: 767px) {
  .modal {
    gap: 0;
  }
}
.modal__img {
  width: 100%;
  border-radius: 9px;
}
.modal__img img {
  width: 100%;
  height: auto;
  margin: 10px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .modal__img {
    display: none;
  }
}
.modal__content {
  max-width: 370px;
  color: #000000;
  font-family: "Georgia", "Libre Baskerville", serif;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .modal__content {
    padding: 20px;
    max-width: 100%;
  }
}
.modal__title {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
.modal__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.modal__description {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.modal__list {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  padding-left: 30px;
}
.modal__item {
  margin-bottom: 11px;
}
.modal__item::marker {
  color: #F1CDB3;
}

.btn-modal-close {
  cursor: pointer;
  position: absolute;
  top: -52px;
  right: -42px;
  display: block;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: transparent url("../../assets/images/close.svg") no-repeat center;
}
.btn-modal-close:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4 url("../../assets/images/close.svg") no-repeat center;
}

.header {
  z-index: 10;
  background: #FFFFFF;
  margin-top: 0;
  position: sticky;
  top: 0;
}
.header__nav {
  background-color: #FFFFFF;
}
.header__nav-btn {
  filter: brightness(0);
}
.header__container {
  height: 120px;
}
.header__nav-item.active, .header__nav-item:hover {
  padding-top: 3px;
  border-bottom: 3px solid #F1CDB3;
  color: #292929;
}
.header__nav-link {
  color: #545454;
}

.logo {
  text-decoration: none;
}
.logo__title {
  color: #545454;
}
.logo__description {
  color: #292929;
}

.main {
  background: #F6F6F6;
}
@media (max-width: 1279px) {
  .main .container .our-friends {
    padding: 80px 0 67px;
  }
}
@media (max-width: 767px) {
  .main .container .our-friends {
    padding: 42px 0 40px;
  }
}
.main .content-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
  margin: 60px 0 58px;
}
@media (max-width: 1279px) {
  .main .content-wrap {
    justify-content: center;
    margin: 30px 0 38px;
  }
}
@media (max-width: 767px) {
  .main .content-wrap {
    flex-direction: column;
    margin-top: 40px;
  }
}
.main .buttons-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 11px;
}
@media (max-width: 767px) {
  .main .buttons-wrap {
    gap: 10px;
  }
}
.main .buttons-wrap span {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 52px;
  height: 52px;
  padding: 13px;
  font-size: 20px;
  line-height: 115%;
  cursor: pointer;
}
.main .buttons-wrap span.disabled {
  pointer-events: none;
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}
.main .buttons-wrap span.page-number {
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
